.footer {
    padding: 20px;
    background: var(--mainblue, #172446);
}

.footer__titre {
    margin-left: 10px;
    color: var(--blanc-criture, #FFF);
    font-family: Amiko;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__text {
    margin-left: 10px;
    color: var(--blanc-criture, #FFF);
    font-family: Helvetica;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}