.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--mainblue, #172446);
    display: grid;
    place-content: center;
}

.menu__text {
    list-style: none;
    color: var(--blanc-criture, #FFF);
    font-family: var(--font-amiko, "Amiko");
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.header__menuhamburger {
    position: relative;
    z-index: 10;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

.header {
    position: relative;
    background: var(--mainblue, #172446);
}

.header__title {
    color: var(--blanc-criture, #FFF);
    font-family: var(--font-amiko, "Amiko");
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    bottom: 10px;
    left: 10px;
}

.header__logosite {
    box-sizing: border-box
}

.header__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--blanc-criture, #FFF);
    font-family: var(--font-amiko, "Amiko");
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.header__logo h2 {
    margin: 0;
    align-self: center;
}
.header__text {
    color: var(--blanc-criture, #FFF);
        font-family: var(--font-amiko);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.header__ligne {
    position: absolute;
        left: 22%;
        top: 37.5%;
        transform: translate(-70%, -50%);
        width: 30px;
        height: 1px;
        background: var(--blanc-criture, #FFF);
        
}
.header__ligne2 {
    position: absolute;
    left: 22%;
    top: 52.9%;
    transform: translate(-70%, -50%);
    width: 30px;
    height: 1px;
    background: var(--blanc-criture, #FFF);

}
.menu__axel {
    color: var(--blanc-criture, #FFF);
        font-family: Helvetica;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}