.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: grid;
    place-content: center;
}

.header__menuBtn {
    position: relative;
    z-index: 10;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

.header {
    background: var(--mainblue, #172446);
}

.header__title {
    color: var(--blanc-criture, #FFF);
        font-family: var(--font-amiko, "Amiko")
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 30px;
        margin-top: 0;
}