.main2__tarifs {
    padding: 20px;
    background: var(--blue, #4E5A78);
}

.main2__textintro {
    color: var(--criture, #000);
    font-family: var(--font-amiko, "Amiko");
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.main2_minitext {
    color: var(--gris-criture, #7A7171);
    font-family: var(--font-helevetica, "helvetica neue");
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main2_grostitre {
    color: var(--criture, #000);
    font-family: var(--font-amiko, "Amiko");
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.main2_grostitreligne {
    color: var(--criture, #000);
    font-family: var(--font-amiko, "Amiko");
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.main2__para {
    color: var(--criture, #000);
    font-family: var(--font-helevetica, "helvetica neue");
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conteneur {
    position: relative;
    /* Autres styles pour le conteneur si nécessaire */
}

.rectangle {
    position: absolute;
    top: 50%;
    /* Position verticale du rectangle */
    left: 25%;
    /* Position horizontale du rectangle */
    transform: translate(-50%, 40%);
    /* Centre le rectangle */
    width: 172px;
    /* Largeur du rectangle */
    height: 25px;
    /* Hauteur du rectangle */
    background: var(--bloc-fond-titre, rgba(7, 209, 253, 0.31));
    /* Couleur du rectangle avec transparence */
    /* Autres styles pour le rectangle */
}

.rectangle2 {
    position: absolute;
    top: 50%;
    /* Position verticale du rectangle */
    left: 25%;
    /* Position horizontale du rectangle */
    transform: translate(-35%, 40%);
    /* Centre le rectangle */
    width: 240px;
    /* Largeur du rectangle */
    height: 25px;
    /* Hauteur du rectangle */
    background: var(--bloc-fond-titre, rgba(7, 209, 253, 0.31));
    /* Couleur du rectangle avec transparence */
    /* Autres styles pour le rectangle */
}

.conteneur2 {
    position: relative;
    /* Autres styles pour le conteneur si nécessaire */
}

.ligne {
    position: absolute;
    left: 62.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 1px;
    background: var(--contour, #000);
}

.ligneintro {
    position: absolute;
    left: 5%;
    top: 45%;
    transform: translate(-70%, -50%);
    width: 30px;
    height: 1px;
    background: var(--contour, #000);
}

.espace {
    margin-bottom: 35px;
}

.main2__btn {
    color: #000;
    font-family: var(--font-amiko, "Amiko");
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid var(--contour, #000);
    background: rgba(217, 217, 217, 0.00);
    transform: translate(0%, 0%);
    text-decoration: none;
    padding: 10px;
}

.main2__logo {
    padding: 20px;
}

.main2__tariftext {
    color: var(--blanc-criture, #FFF);
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main2__contact {
    color: var(--blanc-criture, #FFF);

}

.main2__contact2 {
    color: var(--criture, #000);
    font-family: var(--font-amiko, "Amiko");
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main {
    padding: 10px;
}

.rectangle3 {
    position: absolute;
    top: 50%;
    /* Position verticale du rectangle */
    left: 15%;
    /* Position horizontale du rectangle */
    transform: translate(-35%, 40%);
    /* Centre le rectangle */
    width: 140px;
    /* Largeur du rectangle */
    height: 25px;
    /* Hauteur du rectangle */
    background: var(--bloc-fond-titre, rgba(7, 209, 253, 0.31));
    /* Couleur du rectangle avec transparence */
    /* Autres styles pour le rectangle */
}

.rectangle4 {
    position: absolute;
    top: 50%;
    /* Position verticale du rectangle */
    left: 26%;
    /* Position horizontale du rectangle */
    transform: translate(-35%, 40%);
    /* Centre le rectangle */
    width: 255px;
    /* Largeur du rectangle */
    height: 25px;
    /* Hauteur du rectangle */
    background: var(--bloc-fond-titre, rgba(7, 209, 253, 0.31));
    /* Couleur du rectangle avec transparence */
    /* Autres styles pour le rectangle */
}

.rectangle5 {
    position: absolute;
    top: 30%;
    /* Position verticale du rectangle */
    left: 32%;
    /* Position horizontale du rectangle */
    transform: translate(-35%, 40%);
    /* Centre le rectangle */
    width: 320px;
    /* Largeur du rectangle */
    height: 25px;
    /* Hauteur du rectangle */
    background: var(--bloc-fond-titre, rgba(7, 209, 253, 0.31));
    /* Couleur du rectangle avec transparence */
    /* Autres styles pour le rectangle */
}

.rectangle6 {
    position: absolute;
    top: 0%;
    /* Position verticale du rectangle */
    left: 53%;
    /* Position horizontale du rectangle */
    transform: translate(-85%, 120%);
    /* Centre le rectangle */
    width: 200px;
    /* Largeur du rectangle */
    height: 25px;
    /* Hauteur du rectangle */
    background: var(--bloc-fond-titre, rgba(7, 209, 253, 0.31));
    /* Couleur du rectangle avec transparence */
    /* Autres styles pour le rectangle */
}

.carre {
    width: 200px;
    /* Largeur du carré */
    height: 200px;
    /* Hauteur du carré */
    background-color: #4E5A78;
    /* Couleur de fond du carré */
    display: absolute;
    /* Utilisation de flexbox pour centrer le contenu */
    justify-content: left;
    /* Centrer horizontalement */
    align-items: left;
    /* Centrer verticalement */
    padding: 20px;
    margin-left: 85px;
}

.carre p {
    text-align: left;
    /* Alignement du texte au centre */
    margin: 10px;
    /* Suppression des marges par défaut du paragraphe */
}
.main2__titregalerie {
    margin: 0;
    color: var(--blanc-criture, #FFF);
        font-family: Amiko;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.main2__paragalerie {
    margin: 0;  
    color: var(--blanc-criture, #FFF);
        font-family: Helvetica;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.conteneur2 {
    position: relative;
    /* Position relative pour permettre le positionnement absolu à l'intérieur */
    width: 300px;
    /* Ajustez la largeur au besoin */
    /* Ajoutez d'autres styles au besoin */
}

.position-relative {
    position: relative;
    /* Position relative pour le conteneur parent */
    margin-left: 70px;
}

.position-absolue {
    position: absolute;
    /* Position absolue pour le titre */
    top: 50%;
    /* Positionnement vertical au centre */
    left: 50%;
    /* Positionnement horizontal au centre */
    transform: translate(-50%, -50%);
    /* Centrage parfait */
    color: var(--blanc-criture, #FFF);
    /* Couleur du texte */
    font-family: var(--font-amiko, "Amiko");
    /* Ajoutez d'autres styles au besoin */
    text-decoration: none;
    text-align: center;
}

.image {
    width: 100%;
    /* Ajustez la largeur au besoin */
    display: block;
}